<div class="parallax-container">
    <div class="parallax"> <img src= "<%= @post.picture_url %>" class="responsive-img" ></div>
  </div>
  <div class="section white">
    <div class="row container ">
      <h2 class="header">  <%= @post.title %> <a href="  <%= @post.link %>"><i class="fa fa-external-link "></i></a></h2>

      <p class="grey-text text-darken-3 lighten-3 flow-text">
        <%= @post.description %>
      </p>
    </div>
    <div class="row container ">


    </div>

    <div class="container">
      <p class="right-align">
        <a href="<%=posts_path%>"></a>
        <%if user_signed_in?%>
        <%= link_to raw("<i class='fa fa-pencil-square-o fa-3x'></i>"),edit_post_path(@post)  %>
        <%  end %>
        </p>
    </div>

  </div>
