<!DOCTYPE html>
<html>
   <head>
      <title>Site</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
   </head>
   <body class=" white">
      <nav>
         <%if user_signed_in?%>
         <div class="nav-wrapper blue">
            <a href="#" data-activates="mobile-demo" class=" blue button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul class="right hide-on-med-and-down blue ">
               <li>
                  <a href="<%=root_path%>" class="tooltipped white-text" data-position="bottom" data-delay="50" data-tooltip="Pagina Principal" >
                  <i class="fa fa-home"></i></a>
               </li>
               <li>
                  <a href="<%=posts_path%>" class="tooltipped white-text" data-position="bottom" data-delay="50" data-tooltip=" Proyectos" >
                  <i class="mdi-action-view-module"></i></a>
               </li>
               <li>
                  <a href="<%= destroy_user_session_path%>"class="tooltipped white-text" data-position="bottom" data-delay="50" data-tooltip="Salir"
                     rel="nofollow" data-method="delete">
                  <i class="fa fa-sign-out"></i></a>
               </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
               <li><a href="<%=root_path%>">Pagina Principal</a></li>
               <li> <a href="<%= destroy_user_session_path%>"
                  rel="nofollow" data-method="delete">
                  Salir</a>
               </li>
               <li><a href="<%=posts_path%>">Proyectos</a></li>
            </ul>
         </div>
      </nav>
      <%  else %>
      <div class="nav-wrapper blue">
         <a href="#" data-activates="mobile-demo" class=" blue button-collapse"><i class="mdi-navigation-menu"></i></a>
         <ul class="right hide-on-med-and-down blue ">
            <li><a href="<%=root_path%>" class="tooltipped white-text" data-position="bottom" data-delay="50"
               data-tooltip="Pagina Principal" >
               <i class="fa fa-home"></i></a>
            </li>
            <li><a href="<%=posts_path%>"class="tooltipped white-text" data-position="bottom" data-delay="50" data-tooltip="Proyectos" >
               <i class="mdi-action-view-module"></i></a>
            </li>
            <li><a href=  "<%=new_user_session_path %>" class="tooltipped white-text" data-position="bottom" data-delay="50"
               data-tooltip="Iniciar Sesion" >
               <i class="fa fa-sign-in"></i></a>
            </li>
         </ul>
         <ul class="side-nav  " id="mobile-demo">
            <li><a href="<%=root_path%>">Pagina Principal</a></li>
            <li><a href="<%=new_user_session_path %>">Iniciar Sesion</a></li>
            <li><a href="<%=posts_path%>">Proyectos</a></li>
         </ul>
      </div>
      </nav>
      <%  end %>
      <%= yield %>
      <!-- Modal Structure -->
      <div id="modal1" class="modal">
         <div class="modal-content">
            <div class="row">
               <div class="col s12 m6">
                  <div class="card-panel white">
                     <span >
                        <h4 class="grey-text text-darken-3 lighten-3 flow-text">Miguel Alfredo Garcia Baca</h4>
                        <h5 class="blue-text">Web Developer</h5>
                     </span>
                  </div>
               </div>
            </div>
            <blockquote class="grey-text text-darken-3 lighten-3 flow-text" >
               "La universidad no fue diseñada para gente que nació con Internet y aprende por su cuenta"
            </blockquote>
            <h6> Estudiando en Instituto Tecnologico de La laguna</h6>
         </div>
         <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect  btn-flat blue white-text">cerrar</a>
         </div>
      </div>
      <div id="modal3" class="modal bottom-sheet" style="display: block; opacity: 0; bottom: -100%;">
         <div class="modal-content">
            <h4>
               <a href="#" class="modal-action modal-close"><i class="mdi-content-clear"></i></a>
            </h4>
            <ul class="collapsible" data-collapsible="accordion">
               <li>
                  <div class="collapsible-header flow-text blue-text text-darken-1 lighten-2"><i class="mdi-communication-email"> </i>Correo y Telefono</div>
                  <div class="collapsible-body">
                     <ul class="collection">
                        <li class="collection-item  blue-text flow-text">  mgarcia.dev@gmail.com</li>
                        <li class="collection-item  blue-text flow-text">  872 11 44 035</li>
                     </ul>
                  </div>
               </li>
               <li>
                  <div class="collapsible-header flow-text blue-text"><i class="mdi-social-public"></i>Redes Sociales</div>
                  <div class="collapsible-body">
                     <div class="collection">
                        <a href="https://twitter.com/imikedd" class="collection-item blue-text"><i class="fa fa-twitter fa-2x"></i></a>
                        <a href="https://github.com/miguejs" class="collection-item blue-text"><i class=" fa fa-github fa-2x"></i></a>
                        <a href="https://instagram.com/imiked/" class="collection-item blue-text " ><i class="fa fa-instagram fa-2x"></i></a>
                     </div>
                  </div>
                  <i class=""></i>
               </li>
            </ul>
         </div>
      </div>
      <script type="text/javascript">
         $(document).ready(function(){
             $(".button-collapse").sideNav();
             //Toast tips
             $('.tooltipped').tooltip({delay: 50});
             $('.collapsible').collapsible({
               accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
             });
             $('.parallax').parallax();
             $('.modal-trigger').leanModal({ dismissible: true});
           });
      </script>
   </body>
</html>
