<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
 <nav>
  <%if user_signed_in?%>
  <div class="nav-wrapper white">
    <a href="#" data-activates="mobile-demo" class=" blue button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul class="right hide-on-med-and-down white ">
      <li>
        <a href="#"class="tooltipped blue-text" data-position="bottom" data-delay="50" data-tooltip="Editar Usuarios" >
        	<i class="fa fa-users"></i></a>
      </li>
      <li>
        <a href="<%= destroy_user_session_path%>"class="tooltipped blue-text" data-position="bottom" data-delay="50" data-tooltip="Log Out"
          rel="nofollow" data-method="delete">
        	<i class="fa fa-sign-out"></i></a>
      </li>

    </ul>
    <ul class="side-nav " id="mobile-demo">

       <li><a href="sass.html">About me</a></li>
      <li><a href="components.html">Contact</a></li>
      <li><a href="javascript.html">Resume</a></li>
      <li><a href="mobile.html">Projects</a></li>
    </ul>
  </div>
</nav>
    <%  else %>
    <div class="nav-wrapper white">
      <a href="#" data-activates="mobile-demo" class=" blue button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down white ">
        <li><a href=  "<%=new_user_session_path %>" class="tooltipped blue-text" data-position="bottom" data-delay="50" data-tooltip="Log in" >
          <i class="fa fa-sign-in"></i></a></li>
        <li><a href="sass.html"class="tooltipped blue-text" data-position="bottom" data-delay="50" data-tooltip="Projects" >
        	<i class="mdi-action-work"></i></a></li>
        <li><a href="components.html" class="tooltipped blue-text" data-position="bottom" data-delay="50" data-tooltip="About">
        	<i class="mdi-action-assignment-ind"></i></a></li>
        <li><a href="javascript.html" class="tooltipped blue-text"data-position="bottom" data-delay="50" data-tooltip="Resume">
        	<i class="mdi-editor-insert-drive-file"></i></a></li>
        <li><a href="mobile.html" class="tooltipped blue-text" data-position="bottom" data-delay="50" data-tooltip="Contact">
        	<i class="mdi-communication-quick-contacts-mail"></i></a></li>
      </ul>
      <ul class="side-nav " id="mobile-demo">
         <li><a href="sass.html">About me</a></li>
        <li><a href="components.html">Contact</a></li>
        <li><a href="javascript.html">Resume</a></li>
        <li><a href="mobile.html">Projects</a></li>
      </ul>
    </div>
  </nav>


<%  end %>
<%= yield %>
<script type="text/javascript">
$(document).ready(function(){
    $(".button-collapse").sideNav();
    //Toast tips
    $('.tooltipped').tooltip({delay: 50});
  });

// $(document).ready(function(){ funcion de transiciones
//   <% for i in 1..4 -%>
//      $("#box<%= i %>").click(function(){
//         $("#box<%= i %>").transition({

//   			//delay: 150,
//   			//easing: 'in',
//   			x: '40px'
// 		});
//      });


//   <% end -%>
// });
</script>
</body>
</html>
